* {
    padding: 0;
    margin: 0;
}

.fright {
    float: right;
}

.fleft {
    float: left;
}

.clearall {
    clear: both;
}

.layout {
    width: 100%;
    height: 500px;
    margin: auto;
    margin-top: 75px;
}

.layout__navigation {
    width: 200px;
    height: 100%;
    background-color: aliceblue;
}

.layout__center {
    width: calc(100% - 400px);
    height: 100%;
    background-color: bisque;
}

.layout__content {
    width: 200px;
    height: 100%;
    background-color: aquamarine;
}